<!DOCTYPE html>
<html>
  <head>
    <title>GcpTrainingHomework</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div>
      <%= link_to I18n.t('chinese'), URI(request.referer).path, :locale => "zh-TW" %>
      <%= link_to I18n.t('english'), URI(request.referer).path, :locale => "en" %>
    </div>
  </body>
</html>
