<h1><%= I18n.t("activerecord.models.mameber") %></h1>

<% flash.each do |type, msg| %>
  <div> <%= msg %> </div>
<% end %>

<%= link_to I18n.t('new'), new_member_path %>

<hr>

<table>
  <thead>
    <tr>
      <td><%= I18n.t("activerecord.attributes.mameber.name_#{I18n.locale}") %></td>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td><%= member.send("name_#{I18n.locale}") %></td>
    </tr>
    <% end %>
  </tbody>
</table>

