<h1> Member </h1>

<% flash.each do |type, msg| %>
  <div> <%= msg %> </div>
<% end %>

<%= link_to I18n.t('new'), new_member_path %>

<hr>

<table>
  <thead>
    <tr>
      <td><%= I18n.t("activerecord.attributes.mameber.name_#{I18n.locale}") %></td>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td><%= member.send("name_#{I18n.locale}") %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>
<%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
